<li>
        <p>Burger name: {{burger}}</p>
	<button class="devour" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#unless devoured}}please, please eat me. {{else}}Your stomach is a wonderland. Remove me, and I can be devoured once more.{{/unless}}
	</button>
</li>
