<!DOCTYPE html>
<html lang="en">
	<head>
        <link rel="stylesheet" href="../../app/public/assets/css/style.css" type="text/css" />
		<title>Burger</title>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="../../app/public/assets/js/index.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
